.navbar {
    background-color: rgba(23, 103, 112, 0.7);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-logo img{
    height: 100px;
    width: 100%;
}

.navbar-menu {
    list-style: none;
    display: flex;
}

.navbar-menu li {
    margin-right: 20px;
}

.navbar-menu a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.navbar-menu a:hover {
    color: #26067e;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1110108a;
    border: 1px solid #1b1717;
    z-index: 1;
    list-style-type: none;
}

.navbar-dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    padding: 10px;
    text-align: center;
}

.dropdown-content a {
    color: #fff;
}

.dropdown-content a:hover {
    color: #66c2ff;
}


h2{
    text-align: center;
}


body{
    font-family: cursive;
    background-image: url('/images/HomeImg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.student-details{
    background-color: rgba(14, 13, 13, 0.521);
    color:white;
}

.marks-table{
    background-color: rgba(14, 13, 13, 0.521);
    text-align:right;
    color:white;
}
table {
    margin-left:400px;
    border-collapse: collapse;
    width: 40%;
}

th {
    padding: 10px; 
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}



footer {
    background-image: url('/images/gecNight.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.footer-content ul {
    list-style: none;
    padding: 10px;
    display: flex; 
}

.footer-content ul li {
    margin-bottom: 10px;
    margin-right: 20px;
}
.footer-content ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.footer-content ul li a:hover {
    text-decoration: underline;
}

.footer-content p {
    margin: 10px 0;
    font-size: 14px;
}
.footer-content > div {
    flex: 1; 
    text-align: left; 
}